.vector-lineas{
    position: absolute;
    right: 0;
    height: auto;
    width: 50%;
    z-index: -20;
}
.vector-zondas{
    position: absolute;
    right: 0;
    width: 100%;
    z-index: -20;
    top: 1950px;
}
.section-1{

}
.card{
    margin-left: 20px;
    margin-right: 20px;
    overflow: hidden;
   }
   .div-modelos{
    display: flex;
    justify-content: space-between;
    height: 900px;
}
.capa-card1 {
    background-position: center;
}
@media (min-width: 1024px){
    .img-deportivos-mobile{
        display: none;
    }
.img-deportivos-escritorio {
    display: block;
    margin-right: 30px;
    height: auto;
    width: 60%;
    }
    .vector-lineas{
        top: 600px;
    }
    .vector-zondas{
        top: 1950px;
    }
    .section-1 {
        margin-bottom: 600px;
    }
    .main-1 {
        padding-left: 5.5%;
        padding-right: 5.5%;
    }
.capa-card3:hover {
    width: 120%;
}
.capa-card4:hover {
    width: 120%;
}
.capa-card5:hover {
    width: 120%;
}
.capa-card6:hover {
    width: 120%;
}
.div-modelos {
    margin-top: 40px;
}
}
@media (max-width: 1424px){
    .h2-regulares {
        font-size: 3em;
        margin-bottom: 2%;
    }
    .vector-lineas{
        top: 420px;
    }
    .vector-zondas{
        top: 1350px;
    }
    .section-1 {
        margin-bottom: 400px;
    }
    }
    @media (max-width: 1300px){
        .button{
            padding: 15px 40px;;
            margin-right: 5px;
        }
        .nombres-modelos {
            padding-left: 25px;
            padding-right: 5px;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        }
        @media (max-width: 1230px){
            .button{
                padding: 15px 33px;;
                margin-right: 5px;
            }
        }
        @media (max-width: 1150px){
            .button{
                padding: 1em 1.38em;
                margin-right: 5px;
            }
            .btn{
                padding: 1em 1em;
            }
            .nombres-modelos {
                padding-left: 25px;
                padding-right: 0px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            }
@media (max-width: 1024px){
    .img-deportivos-mobile{
        display: block;
        position: relative;
        margin-top: 20px;
        margin-bottom: 100px;
        width: 100%;
    }
    .img-deportivos-escritorio{
        display: none;
    }
    .vector-lineas{
        top: 690px;
        width: 100%;
    }
    .vector-zondas{
        top: 1500px;
        height: 150px;
    }
    .section-1 {
        margin-bottom: 200px;
    }
    .div-modelos {
        height: 1800px;
    }
    }







/*HURACAN*/
.huracan:hover {
    background-color: #aa8104;
    color: hsl(0, 0%, 100%);
}
.huracan::before {
    background-color: #aa8104;
}
.huracan::after {
    background-color: #aa8104;
}

.capa-card1{
    background: linear-gradient(180deg, #00000000, #0000001f, #00000000, #000000, #000000), url(Lamborghini_Huracan_2020_RWD_Front_Yellow_Metallic_580768_1280x853.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease;
}
/*Audi R8*/
.r8:hover {
    background-color: #494d57;
    color: hsl(0, 0%, 100%);
}
.r8::before {
    background-color: #5f6470;
}
.r8::after {
    background-color: #5f6470;
}
.capa-card2{
    background: linear-gradient(180deg, #00000000, #0000001f, #00000000, #000000, #000000), url(audi\ r8.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease
}

/*Porsche 911*/
.capa-card3{
    background: linear-gradient(180deg, #00000000, #0000001f, #00000000, #000000, #000000), url(Porsche_911_Carrera_4S_2019_Front_Silver_color_557881_1280x720.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease
}

.porsche:hover {
    background-color: #6e869d;
    color: hsl(0, 0%, 100%);
}
.porsche::before {
    background-color: #6e869d;
}
.porsche::after {
    background-color: #6e869d;
}

/*Tesla Model 3*/
.capa-card4{
    background: linear-gradient(180deg, #00000000, #0000001f, #00000000, #000000, #000000), url(Tesla-Model3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease
}

.tesla:hover {
    background-color: #a5a5a5;
    color: hsl(0, 0%, 0%);
}
.tesla::before {
    background-color: #ffffff;
    
}
.tesla::after {
    background-color: #ffffff;
}

/*Nissan GTR R-35*/
.capa-card5{
    background: linear-gradient(180deg, #00000000, #0000001f, #00000000, #000000, #000000), url(Nissan-r35.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease
}

.gtr:hover {
    background-color: #ff2525;
    color: hsl(0, 0%, 100%);
}
.gtr::before {
    background-color: #ff2525;
}
.gtr::after {
    background-color: #ff2525;
}

/*Porsche 911*/
.capa-card6{
    background: linear-gradient(180deg, #00000000, #0000001f, #00000000, #000000, #000000), url(supra-mk5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.5s ease
}

.supra:hover {
    background-color: #ff0000;
    color: hsl(0, 0%, 100%);
}
.supra::before {
    background-color: #ff0000;
}
.supra::after {
    background-color: #ff0000;
}