.header-mobile{
    background-color: #dddddd;
}
header{
    background-color: #dddddd;
}
.espacio-caracteristicas{
    background-color: #dddddd;
}
.caja-delante-3d{
    background-color: #dddddd;
}
/* .caracteristicas{
    background: linear-gradient(180deg, #dddddd, #000000, #000000, #000000, #000000, #000000, #000000);
} */
.active{
    background-color: #000000;
    color: #edbc48;
}
@media (max-width: 1024px){
   .open {
      background-color: #000000;
   }
}

.slide-img1{
    width: 70%;
    height: 100%;
    background: url(R8/camaratrasera.jpg);
    background-position: center;
    background-size: cover;
 }
 .slide-img2{
    width: 70%;
    height: 100%;
    background: url(R8/cambios-en-volante.jpg);
    background-position: center;
    background-size: cover;
 }
 .slide-img3{
    width: 70%;
    height: 100%;
    background: url(R8/control-radio.jpg);
    background-position: center;
    background-size: cover;
 }
 .slide-img4{
    width: 70%;
    height: 100%;
    background: url(R8/dos-puertas.jpg);
    background-position: center;
    background-size: cover;
 }
 #slides .slide_1 {
    background: #ffffff;
    color: #000000;
 }
 #slides .slide_2 {
    background: #4b4b4b;
 }
 #slides .slide_3 {
    background: #ffffff;
    color: #000000;
 }
 #slides .slide_4 {
    background: #ac120d;
 }

 .h2-regulares {
   color: #ffffff;

 }
 .section-h3{
   color: #b4b4b4;
 }